﻿body {
    margin: 0;
    padding: 0;
}
#map {
    width: 100%;
    height: 100%;
    position: absolute;
}

#signin {
    position: absolute;
    top: 3px;
    left: 243px;
}

.MapPushpinBase {
    -webkit-border-radius: 29px; 
    -moz-border-radius: 29px; 
    border-radius: 29px;
    border: solid 2px #fff;   
}

.MicrosoftMap.BingTheme .Infobox2 a.btn-default {
    float: none !important;
    color: #000 !important;
    margin-top: 10px !important;
}

#earthwarelogo
{
	width:108px;
	height:32px;
	z-index:2;
	left:110px;
	background:url(earthwarelogo.png) no-repeat;
	cursor:pointer;
	position:absolute;
	bottom:5px;
    text-indent: -8000px;
}
